<br>
<div class='nested-fields'>
    <div class="field">
        <%= f.label :size %>
        <%= f.text_field :size %>
    </div>
    <div class="field">
        <%= f.label :color %>
        <%= f.text_field :color %>
    </div>

    <div class="field">
        <%= f.label :stock %>
        <%= f.number_field :stock %>
    </div>
</div>
